/*app.vue 样式*/
body{
	
}
/*选项卡*/
.option{
	background:#fff;
	height:1rem;
	line-height: 1rem;
}
.option .my-col-3 span{
	vertical-align:middle;
	width:.6rem;
	height:.6rem;
	font-size:.6rem;
	line-height: .6rem;
	color:#ccc;
}
.router-link-active span{
	color:#007FFF !important;
}
.option .my-col-3 span:hover{
}
.option .lingdang:hover span{
	color:#007FFF !important;
}