 #history .head{
	background:#007FFF;
}
/*文章列表*/
 #history .articleList{
	height:1.6rem;
}
/*一像素边框*/
 #history .articleList::after{
	content:" ";
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	height:1px;
	background:#e1e1e1;
	-webkit-transform-origin:left bottom;
	transform-origin:left bottom;
}
#history .articleList .title{
	display:inline-block;
	vertical-align: top;
	overflow:hidden;
	/*text-overflow:ellipsis;*/
	display:-webkit-box;
	-webkit-line-clamp:2;
	-webkit-box-orient:vertical;
}
#history .articleList .Img{
	display:inline-block;
	width:1.2rem;
	height:1.2rem;
	position:absolute;
	right:.2rem;
	top:.2rem;
	border-radius:.1rem;
}